.location-picker {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.location-picker .mapboxgl-ctrl-geocoder {
    min-width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}